{% extends "base_generic.html" %}

{% block content %}
<h1>Title: {{ author }}</h1>

<p><strong>Author:</strong> {{ author.first_name}}, {{ author.last_name}}</p> 
<p><strong>{{ author.date_of_birth }} - {{ author.date_of_death }} </strong></p>

<div style="margin-left:20px;margin-top:20px">
    <h4>books</h4>

    {% for copy in author.book_set.all %}
    <p>
        <a href="{{ copy.get_absolute_url }}">{{ copy.title }}</a>
        <br>
        {{ copy.summary }}
    </p>
    {% endfor %}
</div>
{% endblock %}